# --------------------------------------
# Python Cache
__pycahe__
**/__pycahe__
**/*/__pycahe__
**/*/*.pyc

# --------------------------------------
# Model and Configuration file ( YOLO )
**/*/*.trt
**/*/*.plan
**/*/*.pth
**/*/*.onnx
**/*/*.etlt

**/*/*.engine
**/*/*.cfg
**/*/*.weights
# --------------------------------------
# Plugins
**/*/*.so
**/*/*.o
# --------------------------------------
# Temprate Data
temp/
**/*/*_colormap.txt
**/*/*int8.tlt
*.log
**/*/*.log
**/*/*.jpg
**/*/*.jpeg
**/*/*.png
**/*/*.avi
**/*/*.mp4

# --------------------------------------
# Tasks
# !task/classification_sample
# !task/humanpose_sample
# !task/innodisk_dram_detector
# !task/people_seg_sample
# !task/yolov3-tiny-sample
# !task/yolov4-sample/*
# !task/yolov4-tiny-sample/*
# task

# Docs
!docs/images/*