# --------------------------------------
# Python Cache
__pycahe__
**/__pycahe__
**/*/__pycahe__
**/*/*.pyc

# --------------------------------------
# Model and Configuration file ( YOLO )
**/*/*.trt
**/*/*.plan
**/*/*.pth
**/*/*.onnx
**/*/*.etlt

**/*/*.engine
**/*/*.cfg
**/*/*.weights
# --------------------------------------
# Plugins
**/*/*.so
**/*/*.o
# --------------------------------------
# Temprate Data
temp/
**/*/*_colormap.txt
**/*/*int8.tlt
*.log
**/*/*.log
**/*/*.jpg
**/*/*.jpeg
**/*/*.png
**/*/*.avi
**/*/*.mp4

# --------------------------------------
# Tasks