# --------------------------------------
# Python Cache
__pycahe__
**/__pycahe__
**/*/__pycahe__
**/*/*.pyc
# --------------------------------------
# Model and Configuration file ( YOLO )
**/*/*.trt
**/*/*.plan
**/*/*.pth
**/*/*.onnx
**/*/*.etlt
**/*/*.tlt
**/*/*.engine
**/*/*.cfg
**/*/*.weights
# --------------------------------------
# Plugins
**/*/*.so
**/*/*.o
# --------------------------------------
# Temprate Data
**/*/*_colormap.txt
*.log
**/*/*.log
**/*/*.jpg
**/*/*.jpeg
**/*/*.png
**/*/*.avi
**/*/*.mp4
app
!app/classification_sample
!app/err_test
!app/humanpose_sample
!app/innodisk_dram_detector
!app/mask_detection_yolo
!app/people_seg_sample
!app/usb_detector
!app/yolov3-tiny
!app/yolov4
!app/yolov4-tiny